<ng-content></ng-content>

<div class="menu-container">
  <div class="menu-container__header">
    <a href="/" class="logo-image">
      <img width="50px" src="../../../../assets/img/logo.png" alt="">
    </a>
  </div>
  <dx-tree-view
    [items]="items"
    keyExpr="path"
    selectionMode="single"
    [focusStateEnabled]="false"
    expandEvent="click"
    (onItemClick)="onItemClick($event)"
    [width]="menuOpened ? '100%':'60px'"
    (onContentReady)="onContentReady($event)"
    (onItemExpanded)="onItemExpanded($event)"
    class="navigation"
    [ngClass]="{'hide-toggle-item-visibility': !menuOpened}">
  </dx-tree-view>
  <!-- <div class="menu-container__footer">
    <app-user-panel [user]="user" [menuItems]="userMenuItems" menuMode="list"></app-user-panel>
  </div> -->
</div>
