<div class="menu row d-flex">
	<div class="menu__group col-md-3">
		<span class="title">Thực đơn</span>
		<app-list-group-menu [menus]="menus" (onSelectedItemIndex)="onGroupIndexSelected($event)"></app-list-group-menu>
	</div>
	<div class="menu__item col-md-6">
		<app-dish-list [dishes]="dishesCurrent" (clickAdd)="onClickAdd($event)"></app-dish-list>
	</div>
	<div class="menu__order col-md-3">
		<ng-container [ngTemplateOutlet]="isMobile ? menuOrderMobileTemplate : menuOrderTemplate">
		</ng-container>
		
	</div>
 </div>

<dx-load-panel
shadingColor="rgba(0,0,0,0.4)"
[(visible)]="isLoading"
[message]="'Đang lấy các món ăn...'">
</dx-load-panel>

<ng-container *ngIf="isMobile">
	
</ng-container>

<ng-template #menuOrderTemplate>
	<app-order-form [(ordersSource)]="orderList"></app-order-form>
 </ng-template>

 <ng-template #menuOrderMobileTemplate>
	<dx-button
	[text]="'Order'"
	(onClick)="showOrderPopup($event)">
	</dx-button>
	
	<dx-popup
	[width]="300"
	[height]="250"
	[showTitle]="true"
	title="Order"
	[dragEnabled]="true"
	[closeOnOutsideClick]="true"
	[(visible)]="isOrderShow">
	<div *dxTemplate="let data of 'content'">
		<app-order-form [ordersSource]="orderList"></app-order-form>
	</div>
	</dx-popup>
 </ng-template>

