<div class="room-grid">
  <dx-data-grid
	[dataSource]="[{
		roomName: 'Phòng 1',
		peopleNumber: '2',
		status: 'Đang cho thuê'
	}]"
	[showColumnLines]="true"
	[wordWrapEnabled]="true"
	[noDataText]="'Chưa có phòng nào'"
	[columnAutoWidth]="true"
	[showBorders]="true"
  >
    <dxo-remote-operations [sorting]="true" [filtering]="true" [paging]="true">
    </dxo-remote-operations>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-paging [pageSize]="pageSize"></dxo-paging>
    <dxo-pager
      [showNavigationButtons]="true"
      [showPageSizeSelector]="true"
      [allowedPageSizes]="allowPageSizes"
    ></dxo-pager>
    <dxo-filter-row
      [visible]="true"
      [showOperationChooser]="true"
      [applyFilter]="'auto'"
      >></dxo-filter-row
    >
    <dxo-header-filter [visible]="false"></dxo-header-filter>

    <dxi-column caption="Tên phòng" dataField="roomName" dataType="string"></dxi-column>
    <dxi-column caption="Số người" dataField="peopleNumber" dataType="string"></dxi-column>
    <dxi-column caption="Trạng thái" dataField="status" dataType="string"></dxi-column>
	<dxi-column alignment="center" caption="Hành động" cellTemplate="actionRoom">
		<div class="d-flex" *dxTemplate="let cellData of 'actionRoom'">
			<i class="dx-icon-rename mr-2"></i>
			<i class="dx-icon-trash"></i>
		</div>
	</dxi-column>
  </dx-data-grid>
</div>
