<div class="room-grid">
  <dx-data-grid
	[dataSource]="dataSource"
	[showColumnLines]="true"
	[wordWrapEnabled]="true"
	[noDataText]="'Chưa có phòng nào'"
	[columnAutoWidth]="true"
	[showBorders]="true"
  [height]="'100%'"
  >
    <dxo-remote-operations [sorting]="true" [filtering]="true" [paging]="true">
    </dxo-remote-operations>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-paging [pageSize]="pageSize"></dxo-paging>
    <dxo-pager
      [showNavigationButtons]="true"
      [showPageSizeSelector]="true"
      [allowedPageSizes]="allowPageSizes"
    ></dxo-pager>
    <dxo-filter-row
      [visible]="true"
      [showOperationChooser]="true"
      [applyFilter]="'auto'"
      >></dxo-filter-row
    >
    <dxo-header-filter [visible]="false"></dxo-header-filter>

    <dxi-column caption="Tên phòng" dataField="roomName" dataType="string"></dxi-column>
    <dxi-column caption="Số người" dataField="peopleNumber" dataType="string"></dxi-column>
    <dxi-column caption="Trạng thái" dataField="status" dataType="string"></dxi-column>
	<dxi-column cellTemplate="actionRoom" width="85px">
		<div class="d-flex" *dxTemplate="let cellData of 'actionRoom'">
			<i class="icon-color--def dx-icon-rename mr-2" (click)="goToDetails(cellData.data)"></i>
			<i class="icon-color--red dx-icon-trash"></i>
		</div>
	</dxi-column>
  </dx-data-grid>
</div>
