$base-accent: #00a998;
$navigate-font: #ffffff;
$base-text-color: rgba(0, 0, 0, 0.87);
$base-bg: #363640;
$base-border-color: #515159;
$base-border-radius: 4px;
$base-bg-nav-hover: #F6F7FA;
$base-bg-nav-selected: #F6F7FA;
$base-content-muted-default-color: rgba(14,18,32,0.7);
$base-content-muted-hover-color: rgba(8,10,18,0.85);
$base-content-muted-pressed-color: rgba(11,12,15,0.95);