$base-accent: #00a998;
$state-active-color: #cdfbf7;
$base-accent-less: #8ef7ed;
$base-text-color: rgba(0, 0, 0, 0.87);
$base-bg: #fff;
$base-border-color: #e0e0e0;
$base-border-radius: 4px;
$base-font-size: 13px;
$scrollbar-scroll-content-color: rgba(191,191,191,.7);
$scrollbar-invisible-color: rgba(0,0,0,0);

$space-8: 8px;
$space-16: 16px;
$space-24: 24px;

$top-border-color: #E8EAF1;