$base-accent: #00a998;
$base-text-color: rgba(0, 0, 0, 0.87);
$base-bg: #fff;
$base-border-color: #e0e0e0;
$base-border-radius: 4px;
$base-font-size: 13px;

$space-8: 8px;
$space-16: 16px;
$space-24: 24px;

$top-border-color: #E8EAF1;