<div class="order-header d-flex justify-content-between">
	<span class="title">Order</span>
	<div class="action-order">
		<dx-button *ngIf="orderEmpty" [width]="35" [height]="33" [type]="'default'" class="action__button--remove mt-2 mr-2"
		(onClick)="clearCart($event)">
			<i class="dx-icon-trash"></i>
		</dx-button>
		<dx-button *ngIf="orderEmpty" [width]="50" [height]="33" [type]="'default'" class="action__button--add mt-2">
			<i class="dx-icon-cart"></i>
		</dx-button>
	</div>
</div>

<dx-list [dataSource]="ordersSource" [scrollingEnabled]="true" [showScrollbar]="'always'" [activeStateEnabled]="false" [focusStateEnabled]="false" [searchEnabled]="false" [noDataText]="'No orders to display'" [height]="'250px'">
	<div *dxTemplate="let item of 'item'">
		<div class="dish-order row dx-flex justify-content-between">
			<div class="image col-md-1">
				<img width="20" height="20" src="{{ item.photos[0].value }}" />
			</div>

			<div class="info col-md-6 pr-0 pl-3">
				<div class="info__name" title="{{item.name}}">{{ item.name | truncate:[35] }}</div>
			</div>

			<div class="action col-md-4 d-flex pr-0">
				<dx-button *ngIf="item.is_available" [width]="25" [height]="25" [type]="'default'"
					class="action__button--add" (onClick)="addQuantity(item)">
					<i class="dx-icon-plus"></i>
				</dx-button>
				<span class="quantity ml-2 mr-2">{{item.quantity}}</span>
				<dx-button *ngIf="item.is_available" [width]="25" [height]="25" [type]="'default'"
					class="action__button--remove" (onClick)="minusQuantity(item)">
					<i class="dx-icon-minus"></i>
				</dx-button>
			</div>
		</div>
	</div>
</dx-list>

<div class="total-price-order">
	<div class="total__title">Tổng: </div>
	<div class="total__price">{{total | moneyString}}</div>
</div>