<div class="room-general">
     <div class="room-general__title content-title">Thông tin chung </div>
     <div class="room-general__content">
          <div class="row">
               <div class="col-6">
                    <dx-text-box class="inline-control" [value]="'Phòng 1'" placeholder="Tên phòng"></dx-text-box>
               </div>
               <div class="col-6">
                    <dx-date-box class="inline-control" placeholder="Ngày nhập phòng" [readOnly]="false"
                         [displayFormat]="displayFormatDatetime" [value]="now" type="date"></dx-date-box>
               </div>
          </div>
          <div class="row mt-3">
               <div class="col-6">
                    <dx-lookup class="inline-control" [dataSource]="statusSource" placeholder="Trạng thái" [valueExpr]="'statusNo'"  [displayExpr]="'statusName'"></dx-lookup>
               </div>
               <div class="col-6">
                    <dx-date-box class="inline-control" placeholder="Ngày nhập phòng" [readOnly]="false"
                         [displayFormat]="displayFormatDatetime" [value]="now" type="date"></dx-date-box>
               </div>
          </div>

     </div>
</div>